<?xml version='1.0' encoding='UTF-8'?>
<nlog autoReload="true">

	
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	
	<targets async="true">
		
		<target archiveAboveSize="100000000" archiveNumbering="Sequence" fileName="/data/App_Logs/Failed_LP/Logs/${hostname}-${shortdate}-debuginfo.log" layout="${longdate}|${uppercase:${level}}|${threadid}|${aspnet-mvc-controller}|${aspnet-mvc-action}|${message}${exception:format=tostring}" name="allfile" type="File" />
		<target archiveAboveSize="100000000" archiveNumbering="Sequence" fileName="/data/App_Logs/Failed_LP/Logs/${hostname}-${shortdate}-error.log" layout="${longdate}|${uppercase:${level}}|${threadid}|${aspnet-mvc-controller}|${aspnet-mvc-action}|${message}${exception:format=tostring}" name="errorfile" type="File" />
	</targets>

	
	<rules>
		
		<logger minlevel="Debug" name="*" writeTo="allfile" />
		
		<logger final="true" maxlevel="Debug" name="Microsoft.*" />
		
		<logger minlevel="Error" name="*" writeTo="errorfile" />
	</rules>
</nlog>